html,
body {
    margin: 0;
}

.main {
    width: 1170px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

[class*='col_'] {
    float: left;
}

.col_1 {
    width: 8.3333%;
}

.col_offset_1 {
    margin-left: 8.3333%;
}

.col_2 {
    width: 16.667%;
}

.col_offset_2 {
    margin-left: 16.667%;
}

.col_3 {
    width: 25%;
}

.col_offset_3 {
    margin-left: 25%;
}

.col_4 {
    width: 33.3333%;
}

.col_offset_4 {
    margin-left: 33.3333%;
}

.col_5 {
    width: 41.6667%;
}

.col_offset_5 {
    margin-left: 41.6667%;
}

.col_6 {
    width: 50%;
}

.col_offset_6 {
    margin-left: 50%;
}

.col_7 {
    width: 58.3333%;
}

.col_offset_7 {
    margin-left: 58.3333%;
}

.col_8 {
    width: 66.6667%;
}

.col_offset_8 {
    margin-left: 66.6667%;
}

.col_9 {
    width: 75%;
}

.col_offset_9 {
    margin-left: 75%;
}

.col_10 {
    width: 83.3333%;
}

.col_11 {
    width: 91.6667%;
}

.col_12 {
    width: 100%;
}

.element1 {
    height: 50px;
    background: #ccc;
}

.element2 {
    height: 50px;
    background: #745154;
}

.element3 {
    height: 50px;
    background: blue;
}

.margin_top_25 {
    margin-top: 25px;
}

.banner {
    list-style-type: none;
    -webkit-padding-start: 0px;
    margin: 0px;
}

.banner li {
    background: green;
    height: 99px;
    border-bottom: 1px solid white;
}

.inner {
    margin-right: 20px;
}

.panel h3 {
    padding: 10px;
    margin: 0;
    background: #969998;
}

.panel p {
    margin: 0;
    padding: 10px;
    background: #cccccc;
}

.margin_left_right_10 {
    margin: 0 10px;
}

.sm {
    border: 1px solid red;
    margin: 10px;
    text-align: center;
}